# PYTHON ESSENTIALS ASSIGNMENT DAY2 



## BATCH-7

## Q1. List and it's default functions.

A list is a collection which is ordered and changeable. In Python lists are written with square brackets.

Methods:

append() : The append() method appends an element to the end of the list.
 
pop() :The pop() method removes the element at the specified position.

copy() :The copy() method returns a copy of the specified list.

index()  :The index() method returns the position at the first occurrence of the specified value.

insert()  :The insert() method inserts the specified value at the specified position.






Functions:

len() :Returns the length of the list

max() : Returns the max value of the list

min()  : Returns the min value of the list

range()  : Returns the items between a given range

list()  : Returns a list

In [10]:
lst = [28,10,2,5,321,30,33]

lst

[28, 10, 2, 5, 321, 30, 33]

### METHODS

In [11]:
#append()

lst.append(2001)

print(lst)

[28, 10, 2, 5, 321, 30, 33, 2001]

In [12]:
#pop()

lst.pop(5)

print(lst)

[28, 10, 2, 5, 321, 33, 2001]

In [13]:
#copy()

lst2= lst.copy()

print(lst2)

[28, 10, 2, 5, 321, 33, 2001]

In [14]:
#index()

lst.index(2001)

6

In [15]:
#insert()

lst.insert(3,454)

print(lst)

[28, 10, 2, 454, 5, 321, 33, 2001]

### FUNCTIONS

In [16]:
#len()

len(lst)

8

In [17]:
#max()

max(lst)

2001

In [19]:
#min()

min(lst)

2

In [20]:
#range()

a=list(range(0,20))
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [23]:
#list()

b=(10,1,67,899,4,7,22)
print(list(b))

[10, 1, 67, 899, 4, 7, 22]



## Q2. Dictionary and it's default functions

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

Some of the methods are:


keys()  : Returns a list containing the dictionary's keys

values()  : Returns a list containing the dictionary's values

items()  : Returns a list containing the dictionary's values

update()  : Updates the dictionary with the specified key-value pairs

get()  : Returns the value of the specified key



Some of the default functions are :


len()  : Returns the length of the list

any()  : Returns true if any key of dictionary is true  
sorted()  : Returns a new sorted list of keys

all()  : Returns true if all keys of dictionary are true  

str()  : Returns a string which by converting the dictionary to string

In [24]:
dict={"name" :"Abdullah",  "age":25,  "address"  : "Hyderabad"}

print(dict)

{'name': 'Abdullah', 'age': 25, 'address': 'Hyderabad'}


### METHODS

In [25]:
#keys()

dict.keys()

dict_keys(['name', 'age', 'address'])

In [26]:
dict.values()

dict_values(['Abdullah', 25, 'Hyderabad'])

In [27]:
dict.items()

dict_items([('name', 'Abdullah'), ('age', 25), ('address', 'Hyderabad')])

In [29]:
#update()

dict.update({'address':'Mumbai'})

print(dict)

{'name': 'Abdullah', 'age': 25, 'address': 'Mumbai'}

### FUNCTIONS

In [30]:
print(dict)

{'name': 'Abdullah', 'age': 25, 'address': 'Mumbai'}

In [31]:
#len()

len(dict)

3

In [32]:
#any()

any(dict)

True

In [33]:
#sorted()

sorted(dict)

['address', 'age', 'name']

In [34]:
#all()

all(dict)

True

In [39]:
#str()

print (dict)

{'name': 'Abdullah', 'age': 25, 'address': 'Mumbai'}



## Q3. Sets and it's default methods


Sets : A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

Some of the methods are :


add()  : The add() method adds an element to the set.

difference()  : The difference() method returns a set that contains the difference between two sets.

intersection()  : The intersection() method returns a set that contains the similarity between two or more sets.

union()  : The union() method returns a set that contains all items from the original set, and all     

remove()  : The remove() method removes the specified element from the set.

Some of the default functions are :


all()  : Returns true if all elements of set are true

any()  : Returns true if any element of set is true
 
len()  : Returns the length of the set

max()  : Returns largest item in set  

sum()  : Returns sum of all elements in set

In [61]:
wwe={"John Cena",  "Undertaker", "Goldberg", "The Rock"}
print(wwe)

{'John Cena', 'Undertaker', 'The Rock', 'Goldberg'}

### METHODS

In [62]:
#add()

wwe.add("Stonecold Steveaustin")

print(wwe)

{'Undertaker', 'Goldberg', 'Stonecold Steveaustin', 'John Cena', 'The Rock'}

In [63]:
#difference()

wwe= {"John Cena", "Undertaker", "Triple H", "The Rock"}
wwe2= {"Matt Hardy", "The Rock", "Edge", "Triple H"}

mix= wwe.difference(wwe2)

print(mix)

{'John Cena', 'Undertaker'}

In [64]:
#intersection()

wwe3= {"John Cena", "Undertaker", "Triple H", "The Rock"}
wwe4= {"Matt Hardy", "The Rock", "Edge", "Triple H"}

mix= wwe3.intersection(wwe4)

print(mix)

{'The Rock', 'Triple H'}

In [65]:
#union()

wwe5= {"John Cena", "Undertaker", "Triple H", "The Rock"}
wwe6= {"Matt Hardy", "The Rock", "Edge", "Triple H"}

mix= wwe5.union(wwe6)

print(mix)

{'Undertaker', 'Triple H', 'Edge', 'Matt Hardy', 'John Cena', 'The Rock'}

In [66]:
#remove()

wwe.remove('Undertaker')

print(wwe)

{'John Cena', 'The Rock', 'Triple H'}

### FUNCTIONS

In [67]:
wwe={"John Cena",  "Undertaker", "Goldberg", "The Rock"}
print(wwe)

{'John Cena', 'Undertaker', 'The Rock', 'Goldberg'}

In [68]:
#all()

all(wwe)

True

In [69]:
#any()

any(wwe)

True

In [70]:
#len()

len(wwe)

4

In [72]:
set2= {2,434,65,88,13,2}

print(set2)

{65, 2, 13, 434, 88}

In [74]:
#max()

max(set2)

434

In [75]:
#min()

min (set2)

2

In [76]:
#sum()

sum(set2)

602



## Q4. Tuples and it's default functions

Tuple : A tuple is a collection which is ordered and unchangeable. In Python tuples are written with round brackets.

Some of the methods are: 

index() : Searches the tuple for a specified value and returns.

count()  : Returns the number of times a specified value occurs in a tuple.  

Some of the default functions are :

len()  : Returns the length of the tuple.

max()  : Returns the max value of the tuple.

min()  : Returns the min value of the tuple.

sum()  : Returns sum of all elements in tuple.

sorted()  : Returns the tuple in sorted manner.

In [77]:
my_tuple = ("Red","Green","Blue","Purple", "Green") 

print(my_tuple)

('Red', 'Green', 'Blue', 'Purple', 'Green')

### METHODS

In [101]:
#index()

my_tuple.index("Blue")

2

In [102]:
#count()

my_tuple.count("Green")

2

### FUNCTIONS

In [81]:
#len()

my_tuple = ("Red","Green","Blue","Purple", "Green") 

len(my_tuple)

5

In [87]:
#max()

my_tuple2=(56,67,4,666)

max(my_tuple2)

666

In [89]:
#min

my_tuple2=(56,67,4,666)

min(my_tuple2)

4

In [90]:
#sum()


my_tuple2=(56,67,4,666)

sum(my_tuple2)

793

In [91]:
#sorted()

my_tuple2=(56,67,4,666)

sorted(my_tuple2)

[4, 56, 67, 666]


### Q5. String and it's default methods



String : String literals in python are surrounded by either single quotation marks, or double quotation marks.

Some of the methods are:

upper()  : Converts string to upper case.

lower()  : Converts string to lower case.

count()  : Returns the number of times a specified value occurs in a string.

swapcase()  : Returns a string by swapping the cases.

split()  : Splits the string at specified separator and returns a list.

splitlines()  : Splits the string at line breaks and returns a list

In [93]:
strng= "If you smell what THE ROCK is cooking"

print(strng)

If you smell what THE ROCK is cooking

### METHODS

In [94]:
#upper()

strng.upper()

'IF YOU SMELL WHAT THE ROCK IS COOKING'

In [95]:
#lower()

strng.lower()

'if you smell what the rock is cooking'

In [96]:
#count()

strng.count("ROCK")

1

In [98]:
#swapcase() 

strng.swapcase()

'iF YOU SMELL WHAT the rock IS COOKING'

In [99]:
#split()

strng.split()

['If', 'you', 'smell', 'what', 'THE', 'ROCK', 'is', 'cooking']

In [100]:
#splitlines

strng.splitlines()

['If you smell what THE ROCK is cooking']